<!DOCTYPE html>
<html lang="en-US">
{{ partial "header" . }}
<head>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body class="home blog logged-in admin-bar no-customize-support custom-background ">
  <div class="wrapper">
    <header id="branding">
      {{ partial "head" . }}
      {{ partial "nav" . }}
      {{ partial "vendini/become_a_member" . }}
      {{ partial "slider" . }}
    </header>
    <div id="main" class="container clearfix">
      <div id="container">
        <div {{ if .Site.Params.widgets }}id="primary" {{ end }} class="no-margin-left">
          <div id="content">
            {{ partial "article_list" . }}
          </div>
        </div>
        <!-- #content -->
      </div>
      <!-- #primary -->
      {{ partial "widgets" . }}
    </div>
    <!-- #container -->
  </div>
  <!-- #main -->
  {{ partial "footer.html" . }}

  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>

</html>
